shellingham==1.5.4
contourpy==1.3.2
threadpoolctl==3.6.0
pandas==2.2.3
tomli==2.2.1
protobuf==5.29.4
idna==3.10
semver==3.0.4
setuptools==75.8.0
conda_lock==3.0.0
jaraco.classes==3.4.0
distlib==0.3.9
kiwisolver==1.4.8
crashtest==0.4.1
ruamel.yaml.clib==0.2.8
pillow==11.2.1
importlib_metadata==8.6.1
colorama==0.4.6
zipp==3.21.0
fonttools==4.57.0
immutabledict==4.2.1
requests==2.32.3
ortools==9.12.4544
attrs==25.3.0
tomlkit==0.13.2
CacheControl==0.14.2
msgpack==1.0.3
GitPython==3.1.44
networkx==3.4.2
pyparsing==3.2.3
joblib==1.4.2
more-itertools==10.7.0
keyring==25.6.0
rpds-py==0.24.0
PySocks==1.7.1
tqdm==4.67.1
jaraco.context==6.0.1
scikit-learn==1.6.1
fastjsonschema==2.21.1
pydantic==2.11.3
click==8.1.8
typing-inspection==0.4.0
pkginfo==1.12.1.2
typing_extensions==4.13.2
typing_extensions==4.13.0
appdirs==1.4.4
h2==4.2.0
cffi==1.17.1
virtualenv==20.30.0
jsonschema==4.23.0
absl-py==2.2.0
zstandard==0.23.0
trove-classifiers==2025.4.11.15
pip==25.0
referencing==0.36.2
gitdb==4.0.12
psutil==7.0.0
jsonschema-specifications==2024.10.1
sentry-sdk==2.26.1
python-dateutil==2.9.0.post0
mpmath==1.3.0
build==1.2.2.post1
charset-normalizer==3.4.1
backports.tarfile==1.2.0
xattr==1.1.0
numpy==2.2.4
jsonref==1.1.0
dulwich==0.22.8
packaging==24.2
packaging==25.0
click-default-group==1.2.4
torch==2.6.0
Brotli==1.0.9
scipy==1.15.2
certifi==2025.1.31
setproctitle==1.3.5
tzdata==2025.1
platformdirs==4.3.7
urllib3==2.4.0
pycparser==2.22
cycler==0.12.1
jaraco.functools==4.1.0
Jinja2==3.1.6
wheel==0.45.1
ensureconda==1.4.7
filelock==3.18.0
fsspec==2025.3.0
pydantic_core==2.33.1
docker-pycreds==0.4.0
requests-toolbelt==1.0.0
boltons==24.0.0
sympy==1.13.1
installer==0.7.0
PyYAML==6.0.2
smmap==5.0.2
matplotlib==3.10.1
hpack==4.1.0
pyproject_hooks==1.2.0
wandb==0.19.9
pytz==2025.1
annotated-types==0.7.0
six==1.17.0
hyperframe==6.1.0
importlib_resources==6.5.2
ruamel.yaml==0.18.10
sweeps==0.2.0
MarkupSafe==3.0.2
